*{
            margin: 0;
            padding: 0;
        }
        .all li{
            list-style: none;
            height: 30px;
            margin:10px auto;
            line-height: 30px;
            text-align: center;
        }
        .all{
            width: 100vw;
            margin:5px auto;
            border:1px solid #000;
        }
        .all h2{
            text-align: center;
            background: #0c0;
            color:#fff;
        }
        .all label{
            display: inline-block;
            width: 90px;
            text-align: right;
        }
        .all #code{
            width: 50px;
        }
        .all .code{
            vertical-align:bottom;
        }
        .all ul .button input{
            width: 50px;
            height: 30px;
            margin-left: 5px;
            margin-right: 5px;
        }